includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - config
        - resources
        - routes
        - tests

    level: 5

    ignoreErrors:
        -
            message: '#Variable \$factory might not be defined.#'
            path: database/factories/*

    checkMissingIterableValueType: false
